input {
  background-color: #D2D44A;
}

div.row {
  display: flex;
  background-color: red;
  border: 1px solid black;
  padding: 10px;
}

div.col {
  background-color: green;
  border: 1px solid white;
  height: 50px;
  padding: 10px;
}

div.col-1-3 {
  width: 33%;
}

div.col-2-3 {
  width: 67%;;
}
